.footer {
  margin-top: 25%;
  background-color: #7510F7;
  color: #fff;
  padding: 5%;

  background: rgba(0, 0, 0, 0.848);
  box-shadow: 0 0.75rem 2rem 0 rgba(0, 0, 0, 0.1);
}

.footer .contact {
  margin-top: 5%;
  
}

.dot {
  height: 10px;
  width: 10px;
  background-color: white;
  border-radius: 50%;
  display: inline-block;
}

.govt {
  text-align: center;
}