.portalBox {
  display: flex;
  justify-content: space-evenly;
  padding: 5%;

  background: rgba(255, 255, 255, 0.375);
  box-shadow: 0 0.75rem 2rem 0 rgba(0, 0, 0, 0.1);
  border-radius: 2rem;
  border: 1px solid rgba(255, 255, 255, 0.125);
  width: 80%;
  margin: 15% 10%;
}
